{% extends 'base.html' %}

{% block content %}

{% if not billing_profile %}
<div class="row text-center">
<div class="col-12 col-md-6">
  <p class="lead">Войти в аккаунт</p>
  {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
</div>
<div class="col-12 col-md-6">
  <p class="lead">Продолжить как Гость</p>
  {% url 'guest_register' as guest_register_url %}
  {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
</div>
</div>

{% else %}

  {% if not order.shipping_address %}
  <div class="row">
    <div class="col-12">
      <p class="lead"><b>Корзина.</b> Адрес доставки</p>
      <hr/>
    </div>
    <div class="col-6">

      {% url 'checkout_address_create' as checkout_address_create %}
      {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
    </div>

        {% url 'checkout_address_reuse' as checkout_address_reuse %}
        {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}

    </div>

  {% else %}
    <h1>Заказ</h1>

    <p>Товары в корзине: {% for product in order.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Адрес доставки: {{ order.shipping_address.get_address }}</p>
    <p>Сумма заказа: {{ order.cart.total }}</p>
    <p>Сумма доставки: {{ order.shipping_total }}</p>
    <p>Итого: {{ order.total }}</p>
    <form class="form" method="POST" action="">{% csrf_token %}
      <button type="submit" class="btn btn-success">Заказать</button>
    </form>
  {% endif %}

{% endif %}
{% endblock %}
