{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12 col-md-6 mx-auto">
{% if title %}<h1 class="my-3">{{ title }}</h1>{% endif %}
<form method='POST' action="{% if action_url %}{{ action_url }}{% endif %}"> {% csrf_token %}
    {% if next_url %}
    <input type="hidden" name="next" value="{{ next_url }}" />
    {% endif %}
    {{ form|crispy }}
    <label for='email'>E-mail</label>
    <input type="text" id="email" class="form-control disabled" value="{{ request.user.email }}" disabled="disabled" /><br/>
    <button type='submit' class='btn btn-success'>Сохранить</button>
    <a href="{% url 'password_change' %}">Изменить пароль</a>
</form>
</div>
{% endblock %}
