{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-12">
    <h1>Профиль</h1>
    <hr/>
</div>

<div class="col-12 col-md-3 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Состояние счета</h5>
        <a class="list-group-item" href="{% url 'orders:list' %}">Заказы</a>
        <a class="list-group-item" href="{% url 'billing-payment-method' %}">Способ оплаты</a>
        <a class="list-group-item" href="{% url 'addresses' %}">Адреса</a>
      </div>
    </div>
</div>

<div class="col-12 col-md-3 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Настройки</h5>
        <a class="list-group-item" href="{% url 'accounts:user-update' %}">Обновить профиль</a>
        <a class="list-group-item" href="{% url 'password_change' %}">Изменить пароль</a>
        <a class="list-group-item" href="{% url 'marketing-pref' %}">Подписка</a>
      </div>
    </div>
</div>

<div class="col-12 col-md-3 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Тех. поддержка</h5>
        <a class="list-group-item" href="{% url 'contact' %}">Контакты</a>
      </div>
    </div>
</div>

</div>
{% endblock %}
