{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <h3>Form</h3>
            <form class="new-content-form" method="POST" action="/some/url/link">
                <textarea name="content" class="form-control"></textarea>
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

<div class="formDataSubmitted">

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="header">Hello World!</h1>
<h1 class="header">Hello World!</h1>
<h1 class="header" id="header-3">Header 3</h1>
<h1 class="header">Hello World!</h1>
<p class="description"><a href="#">Some Link</a></p>
<p class="description">Another paragraph</p>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<!-- <script type="text/javascript">
    $(document).ready(function(){
        var num = 123
        var strings = 'jQuery is awesome!'
        var someArray = [num, 459, 654, 'etc.']
        var someBool = true
        $.each(someArray, function(index, obj){
            // console.log(index, obj)
            if (obj % 2 == 0 && someBool) {
                console.log(obj, 'is even')
            } else if (obj % 3 == 0 && someBool) {
                console.log(obj, 'by 3')
            } else {
                console.log(obj, 'false and/or is not even')
            }
        })
    })


</script> -->

<script type="text/javascript">
    $(document).ready(function(){

    $('body').css("background-color", "red")

    var $description = $('.description')
    $description.css('height', '300px').css('width', '250px')
    console.log($description.length)
    console.log($description.css('height'))
    console.log($description.height())

    setTimeout(function(){
        // $('body').css("background-color", "red")

        $('h1').css('color', 'purple')
        $('h1:nth-child(1)').text('Salute to jQuery!')
        $('#header-3').text('jQuery is awesome!')
        $('.header').css('background-color', 'green').css('padding', '30px')
    }, 2000)
    })
</script>

<!-- <script type="text/javascript">
    $(document).ready(function(){
    var $descriptionItems = $('.description')
    console.log($descriptionItems.length)

    $.each($descriptionItems, function(index, obj){
        var item = $(this)
        var actualHeight = item[0].scrollHeight
        var shouldBeHeight = item.height()
        // console.log(actualHeight, shouldBeHeight)
        if (actualHeight > shouldBeHeight + 50){
            item.css('overflow-y', 'scroll')
        }
        console.log(index, item.height())
        console.log(index, obj)
    })

    var header3 = $('#header-3')
    header3.click(function(event){
        var $this = $(this)
        console.log($this)
        console.log(event)
        window.location.href = 'http://www.google.com/'
    })

    var descriptionLinks = $('.description a')
    descriptionLinks.click(function(event){
        console.log(event)
        event.preventDefault()
        var $this = $(this)
        var href = $this.attr('href')
        console.log(href)
        window.location.href = href
    })
    })
</script> -->

<script type="text/javascript">
    $(document).ready(function(){
        var contentForm = $('.new-content-form')
        contentForm.submit(function(event){
            event.preventDefault()
            var $this = $(this)
            //console.log(contentForm.serialize())
            var textAreaContent = $this.find('textarea')
            //console.log(textAreaContent.attr('name'))
            //console.log(textAreaContent.val())
            var formMethod = $this.attr('method')
            var formAction = $this.attr('action')
            var data = {
                'content': textAreaContent.val(),
                'method': formMethod
            }
            $('.formDataSubmitted').text(textAreaContent.val() + ' method is ' + formMethod)
            textAreaContent.val('')
        })
    })
</script>

{% endblock %}


