{% extends 'base.html' %}

{% block content %}
<div class="col-12 col-md-6 mx-auto py-4">
<form method="GET" action="{% url 'search:query' %}" class="form my-2 my-lg-0 search-form">
  <div class="input-group">
    <input class="form-control" type="search" placeholder="Поиск" name="q" aria-label="Search" value="{{ request.GET.q }}">
    <span class="input-group-btn">
      <button class="btn btn-success" type="submit">Найти</button>
    </span>
  </div>
</form>
</div>

<div class="row">
    <div class="col-md-5">
        <img src='{{ object.image.url }}' class="card-img-top" /><br/>
    </div>
    <div class="col-md-7">
        <h2 class="pt-5">{{ object.title }}</h2>
        <p class="pt-3">{{ object.author_year }}</p>
        <p class="price">{{ object.price }} руб.</p>
        <p class="pt-3">На складе</p>
        <p class="pt-4">{{ object.description }}</p>
        <p class="pt-4">{% include 'products/update_cart.html' with product=object cart=cart %}</p>
    </div>
</div>
{% endblock %}
